/* Fonts */
@font-face {
    font-family: 'Lexend Deca Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Lexend Deca Regular'), url('fonts/LexendDecaRegular.woff') format('woff');
}
@font-face {
    font-family: 'Big Shoulders Display Bold';
    font-style: normal;
    font-weight: bold;
    src: local('Big Shoulders Display Bold'), url('fonts/BigShouldersDisplay-Bold.woff') format('woff');
}

/* General */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: inherit;
}
*::selection {
    background-color: hsl(0, 0%, 95%);
}
img {
    user-select: none;
}
body {
    font-family: 'Lexend Deca Regular';
    background-color: hsl(0, 0%, 95%);
}
h3 {
    font-family: 'Big Shoulders Display Bold';
    color: hsl(0, 0%, 95%);
    font-size: 40px;
    text-transform: uppercase;
    margin: 22.5px 0;
}
p {
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.7;
    margin-bottom: 90px;
    max-width: 400px;
}
/* Main Container */
section.main-container {
    width: 100%;
    min-height: 100vh;
    display:flex;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
    padding: 5vh 5vw;
}
/* Inner Container */
div.inner-container {
    height: fit-content;
    margin: 0 auto;
    display: flex;
    max-width: calc(310px * 3);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 10px;
    overflow: hidden;
}
div.inner-container > *{
    position: relative;
    flex-grow: 1;
    flex-basis: 280px;
    padding: 45px 50px 100px 50px;
}

/* Columns */
div.one {
    background-color: hsl(31, 77%, 52%);
    color: hsl(31, 77%, 52%);
}
div.one > *::selection {
    color: hsl(31, 77%, 52%);
}
div.two {
    background-color: hsl(184, 100%, 22%);
    color: hsl(184, 100%, 22%);
}
div.two > *::selection {
    color: hsl(184, 100%, 22%);
}
div.three {
    background-color: hsl(179, 100%, 13%);
    color: hsl(179, 100%, 13%);
}
div.three > *::selection {
    color: hsl(179, 100%, 13%);
}
/* Buttons */
button {
    cursor: pointer;
    position: absolute;
    bottom: 55px;
    color: inherit;
    background-color: hsl(0, 0%, 95%);
    border: solid 2px hsl(0, 0%, 95%);
    border-radius: 50px;
    font-size: 16px;
    padding: 13px 30px;
    transition: all 0.5s ease;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
button:hover {
    background-color: inherit;
    color: hsl(0, 0%, 95%);
}