/* General */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: inherit;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(233, 47%, 7%);
}
a, button, input[type="button"] {
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
/* Main */
main {
    width: 100%;
    min-height: 100vh;
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
main p {
    color: hsla(0, 0%, 100%, 0.75);
}
/* Card */
div.card {
    width: 100%;
    max-width: 1160px;
    background-color: hsl(244, 38%, 16%);
    border-radius: 7.5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
/* Side A */
div.sideA {
    padding-block: 7%;
    padding-inline: 8%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    flex-basis: 620px;
}
h1 {
    font-size: 2.4rem;
}
h1 span {
    color: hsl(277, 64%, 61%);
}
div.sideA p {
    margin-block: 2rem 4rem;
    width: 90%;
}
/* Icons Container */
div.icons-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 85%;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    font-size: 12px;
}
div.icons-container span {
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 13.5px;
}
/* Side B */
div.sideB {
    background-image: url('../images/image-header-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    flex-basis: 540px;
    min-height: 223px;
}
div.filter {
    background-color: rgba(106, 49, 141, 0.6);
    width: 100%;
    height: 100%;
}
/* Screen Adjust */
@media screen and (max-width: 1224px) {
    div.card {
        max-width: 580px;
    }
    div.sideA {
        text-align: center;
    }
    h1 {
        font-size: 1.5rem;
    }
    div.sideA p {
        width: 100%;
        margin-block: 2rem;
    }
    div.icons-container {
        width: 100%;
        justify-content: center;
        column-gap: 5rem;
        row-gap: 1rem;
    }
    div.icons-container > *{
        flex-grow: 1;
        flex-basis: 8rem;
    }
}